@import "variables";
@import "mobile";

body {
	/*	height: 100vh;
	width: 100vw; */
	font-family: "Poppins", sans-serif;
	padding: 0;
	margin: 0;
	font-size: 1rem;
	color: var(--dark-text);
}

* {
	box-sizing: border-box;
	font: inherit;
	color: inherit;
}

#container {
	max-width: 1400px;
	height: 100vh;
	padding: 24px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

	/*
	display: grid;
	grid-template-rows: auto 1fr auto; */
	/*height: 100vh;*/
}

header {
	display: flex;
	align-items: center;
}

.mobile {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: var(--white);
	padding: 24px;

	display: none;

	transform: translateX(-100%);
	transition: transform 300ms ease-in-out;
}

.mobile__open {
	transform: translateX(0);
}

.mobile-navigation-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*.mobile-img {
	flex-grow: 1;
}
*/
/*
.mobile-menu {
	flex-grow: 1;
}
*/

.mobile-button-close {
	border: none;
	background-color: transparent;
	font-size: 1.5rem;
	outline: none;
	cursor: pointer;
}

.navigation-mobile {
	margin: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mobile-navigation__item {
	text-decoration: none;
	font-size: 1.5rem;
	color: var(--light-text);
	padding: 20px;
}

.mobile-navigation__item--active {
	color: var(--dark-text);
}

.navigation {
	flex-grow: 1;
	margin-left: 40px;

	&__item {
		text-decoration: none;
		color: var(--light-text);
		margin-left: 24px;
	}

	&__item:first-child {
		margin-left: 0;
	}

	&__item--active {
		color: var(--dark-text);
	}

	&__button {
		border: 1px solid var(--white);
		background: linear-gradient(270deg, #faa245 0%, #d8328a 37.25%, #753872 100%);
		border-radius: 50px;
		padding: 10px 36px;
		color: var(--white);
		cursor: pointer;
		outline: none;
	}

	&__button:hover {
		border: 1px solid var(--light-border);
		background: transparent;

		background: -webkit-linear-gradient(270deg, #faa245 0%, #d8328a 37.25%, #753872 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		cursor: pointer;

		outline: none;
	}

	/*	&__button:focus {
		border: 1px solid var(--light-border);
		background: transparent;

		background: -webkit-linear-gradient(270deg, #faa245 0%, #d8328a 37.25%, #753872 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		cursor: pointer;

		outline: none;
	}

	*/
	&__menu-mobile-button {
		display: none;
		outline: none;
	}
}

.main {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;

	&__content {
		flex: 1;
	}

	&__headline {
		max-width: 600px;
		margin: 0;
		padding: 0;
		font-size: 3.25rem;
		line-height: 3.5rem;
		font-weight: 600;
	}

	&__description {
		max-width: 600px;
		margin: 0;
		padding: 0;
		color: var(--middle-light-text);

		margin-top: 24px;
		margin-bottom: 40px;
	}

	&__button {
		border: 1px solid var(--light-border);
		background: transparent;
		border-radius: 50px;
		padding: 10px 36px;

		display: flex;
		align-items: center;

		background: -webkit-linear-gradient(270deg, #faa245 0%, #d8328a 37.25%, #753872 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		cursor: pointer;

		outline: none;
	}

	&__button:hover {
		border: 1px solid var(--light-border);
		background: unset;
		background-clip: unset;
		-webkit-background-clip: unset;
		-webkit-text-fill-color: unset;

		background: linear-gradient(270deg, #faa245 0%, #d8328a 37.25%, #753872 100%);

		display: flex;
		align-items: center;

		color: var(--white);
		cursor: pointer;
		outline: none;
	}

	/*
	&__button:focus {
		border: 1px solid var(--light-border);
		background: unset;
		background-clip: unset;
		-webkit-background-clip: unset;
		-webkit-text-fill-color: unset;

		background: linear-gradient(270deg, #faa245 0%, #d8328a 37.25%, #753872 100%);

		display: flex;
		align-items: center;

		color: var(--white);
		cursor: pointer;
		outline: none;
	}
*/

	&__button .fa {
		background: -webkit-linear-gradient(270deg, #faa245 0%, #d8328a 37.25%, #753872 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		font-size: 1.25rem;
		margin-right: 6px;
	}

	/*	&__button .fa:hover {
		background: unset;
		background-clip: unset;
		-webkit-background-clip: unset;
		-webkit-text-fill-color: unset;

		color: var(--white);
	}

	&__button .fa:focus {
		background: unset;
		background-clip: unset;
		-webkit-background-clip: unset;
		-webkit-text-fill-color: unset;

		color: var(--white);
	} */

	&__img {
		flex: 1;
		width: 100%;
		height: 80%;
	}

	/*	&__img img {
		width: 100%;
	} */
}

.footer {
	display: flex;
	color: var(--light-text);
	margin: 20px auto 0px;
	justify-content: center;
	align-items: center;

	&__socials {
		margin-right: 40px;
	}

	&__socials--item {
		margin-left: 12px;

		cursor: pointer;
	}

	&__socials--item:first-child {
		margin-left: 0;
	}

	&__socials--item:hover {
		background: -webkit-linear-gradient(270deg, #faa245 0%, #d8328a 37.25%, #753872 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__link {
		text-decoration: none;

		cursor: pointer;
	}

	&__link:hover {
		background: -webkit-linear-gradient(270deg, #faa245 0%, #d8328a 37.25%, #753872 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__text {
		font-size: 0.7rem;
	}
}
